.itemBar {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.itemBox {
  background-color: rgb(255, 136, 0);
  border-radius: 20%;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 0 #b35a00, 0 12px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @media (max-width: 1024px) {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 550px) {
    width: 60px;
    height: 60px;
  }
}

.itemImg {
  width: 85%;
  height: auto;
  cursor: grab;
}

.itemBar::-webkit-scrollbar {
  display: none;
}

.itemBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.draggingPreview {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 85px;
  height: auto;
  transition: none;
}