.container {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 700px) {
    top: 20px;
  }

  @media (max-width: 630px) {
    top: 10%;
  }
}

.cauldron {
  width: 100%;
  z-index: 1;
}

.poured {
  position: absolute;
  top: 9%;
  left: 72%;
  transform: translateX(-100%);
  width: 200px;
  z-index: 2;
  pointer-events: none;

  @media (max-width: 700px) {
    top: 19%;
    left: 70%;
    width: 150px;
  }

  @media (max-width: 630px) {
    top: 29%;
    left: 68%;
    width: 100px;
  }
}

.explosion {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
  z-index: 10;
  animation: explode 0.8s ease-out forwards;
  pointer-events: none;

  @media (max-width: 700px) {
    width: 140%;
    bottom: 5%;
  }

  @media (max-width: 630px) {
    width: 120%;
    bottom: 12%;
  }
}

@keyframes explode {
  0% {
    transform: translateX(-50%) scale(0.6);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) scale(1.6);
    opacity: 0;
  }
}

.float {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  animation: float-up 2s ease-in-out infinite;
  z-index: 5;
}


@keyframes float-up {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -40px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}