.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 22;

  @media (max-width: 970px) {
    left: 20%;
  }

  @media (max-width: 700px) {
    top: 20px;
  }

  @media (max-width: 600px) {
    left: 10%;
  }

  @media (max-width: 630px) {
    top: 10%;
  }

  @media (max-width: 420px) {
    left: 20%;
  }
}

.wizard {
  width: 260px;

}

.bubbleContainer {
  position: absolute;
  top: -80px;
  left: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 600px) {
    top: -60px;
    left: -30px;
  }
}

.bubble {
  width: 160px;

  @media (max-width: 600px) {
    width: 120px;
  }
}

.desiredColor {
  position: absolute;
  top: 9%;
  right: 35%;
  width: 40px;
  height: 60px;

  @media (max-width: 600px) {
    top: 10%;
    right: 40%;
    width: 30px;
    height: 45px;
  }
}