.bubble {
  position: relative;
  background: #ffffff;
  color: #000;
  border-radius: 50%;
  padding: 15px 18px;
  font-weight: 500;
  text-align: center;
  max-width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  animation: fadeIn 0.3s ease-in-out;

  @media (max-width: 480px) {
    padding: 10px 12px;
  }
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 10%;
  transform: translateX(-50%) rotate(-30deg);
  border-width: 25px 10px 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}