.instruction {
  font-size: 1.8rem;
  color: #fff;
  background: linear-gradient(90deg, #ff8a00, #ff5f6d);
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
    padding: 10px 20px;

  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  @media (max-width: 480px) {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}