.doorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: visible;
  position: relative;
  min-width: 90px;
  width: 15vw;

  &:hover {
    transform: scale(1.02);
  }

  @media (max-width: 900px) {
    width: 18vw;
  }
}

.doorImg {
  width: 100%;
  height: auto;
}

.signImg {
  position: absolute;
  top: 15%;
  width: 60%;
  height: 20%;
  z-index: 2;
  pointer-events: none;
  border: 4px solid rgb(63, 3, 3);
  border-radius: 6%;

  @media (max-width: 600px) {
    border-width: 2px;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(-8%);
  }
}