.planetWrapper {
    position: absolute;
    animation: float 6s ease-in-out infinite;
}

.planet {
    width: auto;
    height: 220px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.4s ease, filter 0.3s ease;


    &:hover {
        transform: scale(1.1) rotate(5deg);
        filter: brightness(1.2);
    }

    @media (max-width: 1200px) {
        height: 180px;
    }

    @media (max-width: 900px) {
        height: 150px;
    }

    @media (max-width: 600px) {
        height: 110px;
    }

    @media (max-width: 400px) {
        height: 90px;
    }
}

@media (max-width: 400px) {
    .firstPlanet {
        top: 15% !important;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}