.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out alternate;

  @keyframes twinkle {
    0% {
      opacity: 0.2;
      transform: scale(0.5);
    }

    50% {
      opacity: 1;
      transform: scale(1.2);
    }

    100% {
      opacity: 0.2;
      transform: scale(0.5);
    }
  }
}