.title {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: 80%;
  z-index: 2;

  @media (max-width: 1024px) {
    width: 300px;
  }

  @media (max-width: 600px) {
    width: 220px;
    top: 3%;
  }
}